<!-- planning box -->
<article id="program" class="utils">
  <div class="container">
    <h1 class="section-title"> Program </h1>
    <p>Sâmbătă, 11 octombrie 2025, 10-13: Controlul versiunilor folosind Git</p>
    <p>Sâmbătă, 18 octombrie 2025, 10-13: Dezvoltare colaborativă cu GitHub</p>
    <p>Sâmbătă, 25 octombrie 2025, 10-13: Formatul Markdown</p>
    <p>Sâmbătă, 1 noiembrie 2025, 10-13: Medii de lucru, dezvoltare și deployment cu Docker</p>
    <p>Duminică, 8 noiembrie 2025, 10-13: Bune practici în inginerie</p>
    <p>Sâmbătă, 15 noiembrie 2025, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 22 noiembrie 2025, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 29 noiembrie 2025, 10-13: <strong>liber</strong></p>
    <p>Sâmbătă, 6 decembrie 2025, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 13 decembrie 2025, 17-22: Prezentări finale. Festivitate de absolvire</p>
  </div>
</article><!-- /utils -->
