<!-- planning box -->
<article id="program" class="utils">
  <div class="container">
    <h1 class="section-title"> Program </h1>
    <p>Sâmbătă, 10 octombrie 2026, 10-13: Controlul versiunilor folosind Git</p>
    <p>Sâmbătă, 17 octombrie 2026, 10-13: Tehnici avansate de Git. Dezvoltare colaborativă cu GitHub</p>
    <p>Sâmbătă, 24 octombrie 2026, 10-13: Formatul Markdown & Makefile</p>
    <p>Sâmbătă, 31 octombrie 2026, 10-13: Medii de lucru, dezvoltare și deployment cu Docker</p>
    <p>Sâmbătă, 7 noiembrie 2026, 10-13: Automatizare folosind GitHub</p>
    <p>Sâmbătă, 14 noiembrie 2026, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 21 noiembrie 2026, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 28 noiembrie 2026: Liber</p>
    <p>Sâmbătă, 5 decembrie 2026, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 12 decembrie 2026, 18-22: Prezentări finale. Festivitate de absolvire</p>
  </div>
</article><!-- /utils -->
