<!-- planning box -->
<article id="program" class="utils">
  <div class="container">
    <h1 class="section-title"> Program </h1>
    <p>Duminică, 8 martie 2026, 10-13: Controlul versiunilor folosind Git</p>
    <p>Sâmbătă, 14 martie 2026, 10-13: Dezvoltare colaborativă cu GitHub</p>
    <p>Sâmbătă, 21 martie 2026, 10-13: Formatul Markdown</p>
    <p>Duminică, 29 martie 2026, 10-13: Medii de lucru, dezvoltare și deployment cu Docker</p>
    <p>Duminică, 4 aprilie 2026, 10-13: Bune practici în inginerie</p>
    <p>Sâmbătă, 11 aprilie 2026, 10-13: <strong>liber</strong></p>
    <p>Sâmbătă, 18 aprilie 2026, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 25 aprilie 2026, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 2 mai 2026, 10-13: <strong>liber</strong></p>
    <p>Sâmbătă, 9 mai 2026, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 16 mai 2026, 17-22: Prezentări finale. Festivitate de absolvire</p>
  </div>
</article><!-- /utils -->
