<!-- editions box -->
<article id="editions" class="editions scrollable">
    <div class="container">
      <h1 class="section-title"> Editii anterioare</h2>
      <div class="row row-centered">
        {% for item in site.data.editions %}
        <div class="col-xs-3 col-centered">
          <h1 class="section-title">
            <a class="btn btn-default btn-lg" href="{{ site.url }}/{{ item.url }}" target="_blank">{{ item.title }}</a>
          </h1>
        </div>
      {% endfor %}
    </div>
  </div>
</article><!-- /editions -->
