<!-- planning box -->
<article id="program" class="utils">
  <div class="container">
    <h1 class="section-title"> Program </h1>
    <p>Sâmbătă, 8 martie 2025, 10-13: Controlul versiunilor folosind Git</p>
    <p>Sâmbătă, 15 martie 2025, 10-13: Dezvoltare colaborativă cu GitHub</p>
    <p>Sâmbătă, 22 martie 2025, 10-13: Formatul Markdown</p>
    <p>Sâmbătă, 29 martie 2025, 10-13: Medii de lucru, dezvoltare și deployment cu Docker</p>
    <p>Duminică, 6 aprilie 2025, 10-13: Bune practici în inginerie</p>
    <p>Sâmbătă, 12 aprilie 2025, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 19 aprilie 2025, 10-13: <strong>liber</strong></p>
    <p>Sâmbătă, 26 aprilie 2025, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 3 mai 2025, 10-13: <strong>liber</strong></p>
    <p>Sâmbătă, 10 mai 2025, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 17 mai 2025, 17-22: Prezentări finale. Festivitate de absolvire</p>
  </div>
</article><!-- /utils -->
