/*-----------------------
      Main elements
-----------------------*/
a, a:hover, a:link, a:visited {
  color: #FF9800;
  text-decoration: none;
}

/*-----------------------
   Main menu & content
-----------------------*/
#menu #logo img {
  width: 180px;
  height: 70px;
  margin-top: -5px;
  margin-left: 95px;
}

#content .section-title {
  color: #FF9800;
}

/*------------------------
    Box with picture
------------------------*/
#content .picture-box {
  background: url(../images/cdl-team.jpg) 50% 0 no-repeat fixed;
  background-position: center;
  background-size: cover;
}

#content .picture-box .picture-canvas {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
}

/*------------------------
    Form box
------------------------*/
#content .form-box {
  background: url(../images/creative_common/apply.jpeg) 50% 0 no-repeat fixed;
  background-position: center;
  background-size: cover;
}

/*------------------------
        Grid
------------------------*/
#content .grid {
    display: block;
    margin: 1em 0;
    padding: 0;
    list-style: none;
    font-size: 0.95em;
}

/*------------------------
    Form box
------------------------*/

#content .form-box .extra_info {
  font-size: 12px;
  color: #e7e7e7;
  line-height: 30px;
  font-style: italic;
}