<!-- planning box -->
<article id="program" class="utils">
  <div class="container">
    <h1 class="section-title"> Program </h1>
    <p>Marți, 23 iunie 2026, 09-12: Controlul versiunilor folosind Git</p>
    <p>Joi, 25 iunie 2026, 09-12: Dezvoltare colaborativă cu GitHub</p>
    <p>Sâmbătă, 27 iunie 2026, 10-13: Tehnici avansate de GitHub</p>
    <p>Marți, 30 iunie 2026, 09-12: Formatul Markdown</p>
    <p>Joi, 2 iulie 2026, 09-12: Medii de lucru, dezvoltare și deployment cu Docker</p>
    <p>Sâmbătă, 4 iulie 2026, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Marți, 7 iulie 2026, 09-12: Hackathon: Lucru la proiect open source</p>
    <p>Joi, 9 iulie 2026, 09-12: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 11 iulie 2026, 10-18: Hackathon. Prezentări finale. Festivitate de absolvire</p>
  </div>
</article><!-- /utils -->
