{% for item in site.data.menu['2015'] %}

<section id="menu">
  <div class="row unselectable">
    <div class="col-md-6" id="logo">
      <a href="#" onclick="scroll_to(event, '0');"><img src={{ item.logo }} alt={{ item.title }}/></a>
    </div>
    <div class="col-md-6" id="main-menu">
      <ul class="navbar pull-right">
        <li><i class="fa fa-terminal"></i></li>
        <li><a href="#{{ item.section_one_id }}" onclick="scroll_to(event, '#{{ item.section_one_id }}');">{{ item.section_one_name }}</a>;</li>
        <li><a href="#{{ item.section_two_id }}" onclick="scroll_to(event, '#{{ item.section_two_id }}');">{{ item.section_two_name }}</a>;</li>
        <li><a href="#{{ item.section_three_id }}" onclick="scroll_to(event, '#{{ item.section_three_id }}');">{{ item.section_three_name }}</a>;</li>
        <li><a href="#editions" onclick="scroll_to(event, '#editions');">Ediții</a>;</li>
        <li><a href="#contact" onclick="scroll_to(event, '#contact');">Contact</a>;</li>
      </ul>
    </div>
  </div>
</section>

{% endfor %}
