<!-- planning box -->
<article id="program" class="utils">
  <div class="container">
    <h1 class="section-title"> Program </h1>
    <p>Sâmbătă, 12 octombrie 2024, 10-13: Controlul versiunilor folosind Git</p>
    <p>Sâmbătă, 19 octombrie 2024, 10-13: Dezvoltare colaborativă cu GitHub</p>
    <p>Sâmbătă, 26 octombrie 2024, 10-13: Formatul Markdown</p>
    <p>Sâmbătă, 2 noiembrie 2024, 10-13: Medii de lucru, dezvoltare și deployment cu Docker</p>
    <p>Sâmbătă, 9 noiembrie 2024, 10-13: Bune practici în ingineria software</p>
    <p>Sâmbătă, 16 noiembrie 2024, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 23 noiembrie 2024, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 30 noiembrie 2024, 10-13: <strong>liber</strong></p>
    <p>Sâmbătă, 7 decembrie 2024, 10-13: Hackathon: Lucru la proiect open source</p>
    <p>Sâmbătă, 14 decembrie 2024, 10-13: Prezentări finale. Festivitate de absolvire</p>
  </div>
</article><!-- /utils -->
